<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/navbar-static-top/">

    <title>KPAI</title>

    <!-- Bootstrap core CSS -->
    <link href="./../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">KPAI</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="./../index.html">Home</a></li>
                    <li class=""><a href="#">Lampiran</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lihat Kusioner <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="./formSPA.html">Kusioner Sistem Peradilan Anak</a></li>
                            <li><a href="./formLembaga.html">Kusioner Kementrian/Lembaga</a></li>
                            <li><a href="./formProvinsi.html">Kusioner Pemerintah Provinsi</a></li>
                            <li><a href="./formKota.html">Kusioner Pemerintah Kota/Kabupaten</a></li>

                        </ul>
                    </li>
                    <li class=""><a href="#">Laporan Penilaian</a></li>
                    <li class=""><a href="#">Laporan Tambahan</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master Data <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Master Pertanyaan</a></li>
                            <li><a href="./masterUser.html">Master User</a></li>
                            <li><a href="./masterPeran.html">Master Peran</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Form User</h3>
            </div>
            <div class="panel-body">

                <form class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-lg-2 col-md-3 col-sm-3">Nama</label>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2 col-md-3 col-sm-3">Alamat</label>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <textarea type="text" class="form-control"></textarea>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2 col-md-3 col-sm-3">Username/Email</label>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2 col-md-3 col-sm-3">Password</label>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2 col-md-3 col-sm-3">Peran</label>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <select class="form-control">
                                    <option>Admin</option>
                                    <option>User SPPA</option>
                                    <option>User Lembaga/Kementrian</option>
                                    <option>User Provinsi</option>
                                    <option>User Kota</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2 col-md-3 col-sm-3">Pilih Lembaga/Provinsi/Kota</label>
                            <div class="col-lg-6 col-md-9 col-sm-9">
                                <select class="form-control">
                                    <option>List Sesuai Peran Yang Dipilih</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-6 col-md-9 col-sm-9">
                                <button type="button" class="btn btn-primary">
                                    Save
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="eventClickCancel()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="./../bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>

</html>